<h2>my name is  {{firstname | lowercase}}<h2>
<h5>last name {{lastname | uppercase}}</h5>
<h5>{{email | titlecase}}</h5>
<h5>{{basicstr | titlecase}}</h5>
<h5>{{dateobj}}</h5>
<h5>{{dateobj | date}}</h5>
<h5>{{dateobj | date:"shortDate"}}</h5>
<h5>{{dateobj | date:"mediumDate"}}</h5>
<h5>{{dateobj | date:"longDate"}}</h5>
<h5>{{dateobj | date:"shortTime"}}</h5>
<h5>{{dateobj | date:"mediumTime"}}</h5>
<h5>{{dateobj | date:"longTime"}}</h5>
<h5>{{total}}</h5>
<h5>{{total | number:"3.4"}}</h5>
<h5>{{totaltwo | number:"2.2-3"}}</h5>
<h5>{{price}}</h5>
<h5>{{price | currency}}</h5>
<h5>{{price | currency:"INR"}}</h5>